body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}
header {
    margin-bottom: 0;
}

header {
    margin-bottom: 0;
    position: relative; 
    display: flex;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    background-color: #f66b14;
    padding: 0px 20px;
    height: 80px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
    color: white;
    
    margin-left: 20px;
    padding: 0;
    font-size: 24px;
    font-weight: bold;
}

nav {
    display: flex;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}
nav ul li a.bold {
    font-weight: bold;
  }

  .banner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 55vh;
    overflow: hidden;
    color: #ffffff; 
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    height: 55vh;
    z-index: -1; 
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); 
}

.banner::after {
    content: url('background.jpg'); 
    position:absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -2; 
    opacity: 0.7;
    margin: 0; 
    background-position: center;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); 
}
.banner h1,
.banner p {
    transform: translateY(50%);
    transition: transform 0.5s ease-in-out;
}

body.scrolled-down .banner h1,
body.scrolled-down .banner p {
    transform: translateY(0);
}


.content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin: 20px;
}

.post {
    position: relative;
    overflow: hidden;
    aspect-ratio: 4 / 3;
}

.post img {
    width: 100%;
    transition: transform 0.5s;
}

.post:hover img {
    transform: scale(1.1);
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 20px;
    font-weight: bold;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.5s;
    width: 100%;
}

.post:hover .overlay {
    opacity: 1;
}

body.scrolled-down header {
    position: fixed;
    background-color: rgba(246, 107, 20, 0.9);
    animation: fadeInDown 0.5s ease-in-out;
}


    .post {
        position: relative;
        overflow: hidden;
        margin-bottom: 20px;
    }
    
    .post img {
        width: 100%;
        height: auto;
        transition: transform 0.5s;
    }
    
    .post h2 {
        max-height: 3em;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align:center;
        white-space: nowrap;
        margin-bottom: 10px;
        font-size: 10px;
    }
    
    .pagination {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    
    .pagination button {
        margin: 0 5px;
        cursor: pointer;
    }
    .filter {
        position: absolute;
        top: 75vh;
        right: 20px; 
    }
    

